.block
  .secondary-navigation
    %ul.wat-cf
      %li=@test
  .content
    %h2.title
      Contacts
    .inner
      %table.table
        %tr
          %th.first="ID"
          %th="Name"
          %th.last="Email"
        -@contacts.each do |contact|
          %tr{:onclick=>"window.location='index.html'"}
            %td.first=contact["Id"]
            %td=contact["Name"]
            %td.last
              =contact["Email"]
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
