.block
  .secondary-navigation
    %ul.wat-cf
      %li "oto"
  .content
    %h2.title
      Opportunities
    .inner
      %table.table
        %tr
          %th.first="ID"
          %th="Name"
          %th.last="Amount"
        -@opportunities.each do |opportunity|
          %tr{:onclick=>"window.location='index.html'"}
            %td.first=opportunity["Id"]
            %td=opportunity["Name"]
            %td.last
              =opportunity["Amount"]
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
