!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Padrino Admin
    - if @mobile_agent
      =stylesheet_link_tag "base-mobile", "themes/default/mobile-style"
    - else
      =stylesheet_link_tag :base, "themes/default/style"
  %body
    #container
      #header
        %h1=link_to "Salesforce Admin", url("accounts")
        #user-navigation
          %ul.wat-cf
        #main-navigation
          %ul.wat-cf
            %li=link_to("Accounts", "/accounts")
            %li=link_to("Leads", "/leads")
            %li=link_to("Opportunities", "/opportunities")
            %li=link_to("Contacts", "/contacts")
            %li=link_to("Visitors", "/visitors")
      #wrapper.wat-cf
        .flash=[:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
        #main
          =yield
          #footer
            .block
              %p
                Copyright &copy;
                =Time.now.year
                = link_to "vzmind.tumblr.com", "http://vzmind.tumblr.com", :target => :_blank
                = "- Powered by"
                =link_to "Padrino v.#{Padrino.version}", "http://padrino.github.com", :target => :_blank
        #sidebar=yield_content :sidebar

