.block
  .secondary-navigation
    %ul.wat-cf
      %li "oto"
  .content
    %h2.title
      Accounts
    .inner
      %table.table
        %tr
          %th.first="ID"
          %th="Name"
          %th.last="Annual Revenue"
        -@accounts.each do |account|
          %tr{:onclick=>"window.location='index.html'"}
            %td.first=account["Id"]
            %td=account["Name"]
            %td.last
              =account["AnnualRevenue"]
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
